<section class="contact">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" (reset)="onReset()" autocomplete="off">
      <legend>Contact <span>Me</span></legend>
      
      <div class="name-container">
        <div class="name-form">
          <label for="name"><i class='bx bx-user'></i>Name</label><br>
          <input type="text" id="name" formControlName="name"><br>
          <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="error">
            Enter a valid name.
          </div>
        </div>
        
        <div class="phone-number">
          <label for="phone-number"><i class='bx bx-phone'></i>Phone No.</label><br>
          <input type="text" id="phone-number" formControlName="phoneNumber"><br>
          <div *ngIf="contactForm.get('phoneNumber')?.invalid && contactForm.get('phoneNumber')?.touched" class="error">
            Enter a valid phone number.
          </div>
        </div>
      </div>
      
      <div class="email-form">
        <label for="mail"><i class='bx bx-envelope'></i>Email</label><br>
        <input type="email" id="mail" formControlName="email"><br>
        <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="error">
          Enter a valid email address.
        </div>
      </div>
      
      <div class="textarea-form">
        <label for="message"><i class='bx bx-message-detail'></i>Message</label><br>
        <textarea id="message" formControlName="message"></textarea><br>
        
        <input type="checkbox" id="checkbox" formControlName="sendCopy">
        <label class="checkbox-label" for="checkbox">Send me a copy</label>
      </div>
      
      <div class="button-container">
        <button type="submit" [disabled]="contactForm.invalid">Submit <i class='bx bx-paper-plane'></i></button>
        <button type="reset">Reset <i class='bx bx-reset'></i></button>
      </div>
    </form>
  </section>
  
