<section class="portfolio">
    <div class="portfolio-header">
        <h1><span>My</span> Projects</h1>
        <p>Here are some of the projects I've worked on as a front-end developer, utilizing technologies like HTML, CSS,
            JavaScript, and various frameworks.</p>
    </div>
    <div class="card-container">
        <div class="card">
            <a href="https://cityimpact.netlify.app">
                <img src="./../../../assets/Site preview/Screen Cityimpact.png" alt="Anteprima sito">
            </a>
        </div>
        <div class="card">
            <a href="https://start2read.netlify.app/">
                <img src="./../../../assets/Site preview/Screen start2read.png" alt="Anteprima sito">
            </a>
        </div>
        <div class="card">
            <a href="https://start2shop.netlify.app/">
                <img src="./../../../assets/Site preview/Screenshot Start2Shop.png" alt="Anteprima sito">
            </a>
        </div>
        <div class="card">
            <a href="https://fruit-impact.netlify.app">
                <img src="./../../../assets/Site preview/Screen FruitImpact.png" alt="Anteprima sito">
            </a>
        </div>
    </div>
</section>