<section class="presentation">
    <div class="presentation-social">
        <div class="social">
            <a href="https://www.facebook.com/davide.giannetti.505">
                <i class='bx bxl-facebook'></i>
            </a>
            <a href="https://instagram.com/davidegaf8?igshid=NDYzaTZlOHdwNmIy">
                <i class='bx bxl-instagram'></i>
            </a>
            <a href="https://www.linkedin.com/in/davide-giannetti/">
                <i class='bx bxl-linkedin'></i>
            </a>
        </div>
        <div class="text-presentation">
            <h2>Hello, I am</h2>
            <h1 class="name">Davide Giannetti</h1>
            <h3>Front End Developer</h3>
            <p>I'm passionate about front-end development and creating dynamic, user-friendly interfaces. I believe the
                future of the web lies in innovative technologies like blockchain, and I'm excited to combine my
                front-end skills with emerging digital trends to build cutting-edge user experiences.</p>
            <div class="download">
                <a href="../../../assets/PDF/CV Davide Giannetti.pdf" download="CV Davide Giannetti">
                    <i class='bx bxs-download'></i>
                    Download CV</a>
            </div>
        </div>
    </div>
    <div class="photo-presentation">
        <img src="assets/img/Davide-profile_preview_rev_1.png" alt="profile">
    </div>
</section>